* {
    margin: 0;
    padding: 0;
    --box-shadow-style: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    font-family: helvetica;
}

body {
    background: #AFCBFF;
}

button {
    border: 0px;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container-transparent {
    background: rgba(4, 13, 15, 0.3);
}

header {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

header h1 {
    color: black;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#top-side {
    display: flex;
    justify-content: center;
}

#top-side button {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    border-radius: 50px;
    background: transparent;
    color: black;
}

#top-side button:hover {
    background: rgba(0, 0 , 0, 0.5);
    color: white;
}

#booksContent {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 3rem;
}

.bookCard {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    padding: 1.5rem;
    width: 10rem;
    height: 15rem;
    box-shadow: var(--box-shadow-style);
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 9rem;
}

.bot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.bot-card button {
    width: 6rem;
    height: 2.5rem;
    font-weight: bold;
    box-sizing: border-box;
}

.bot-card button[id="delbtn"] {
    background: #EB3E0A;
    
}

.bot-card button[id="delbtn"]:active {
    color: white;
    border: 1px solid black;
}

.read:active {
    color: white;
    border: 1px solid black;
}

.not-read:active {
    color: white;
    border: 1px solid black;
}

.bookcard-transparent {
    background: rgba(53, 53, 53, 0.4);
}

.read {
    background: #99E000;
}

.not-read {
    background: #FFB400;
}

#content form {
    position: absolute;
    top: 30%;
    left: 40%;
    display: grid;
    grid-template-columns: repeat(2, 0.9fr);
    grid-template-rows: repeat(5, 1fr) 2fr;
    align-items: center;
    row-gap: 1rem;
    box-shadow: var(--box-shadow-style);
    padding: 1.5rem;
    background: white;
    color: black;
}

.hidden {
    visibility: hidden;
}

.disabled {
    pointer-events: none;
}

form h2 {
    grid-column: span 2;
    justify-self: center;
}

form input {
    align-self: stretch;
}

#radioRead {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
}

#radioRead label {
    margin-right: auto;
}

#submitBtn, #cancelBtn {
    grid-row: 6;
    justify-self: center;
    align-self: stretch;
    background: rgb(194, 194, 194)
}

#submitBtn:hover, #cancelBtn:hover {
    background: rgba(122, 122, 122, 0.7)
}

form button {
    width: 5rem;
}

footer {
    margin-top: 15rem;
    align-self: center;
}